.login_page {
    background-image: url(../../assets/images/web_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login_form_box{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_form_box form{
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 20px 5px;
    margin: auto;
    border-radius: 15px;
}
.login_button_div {
    text-align: center;
}
.login_button_div button {
    padding: 10px 20px;
    font-size: 16px;
}
.error_text{
	color: red;
}