<header>
	<div class="header_content">
		<a class="logo_box">
			<img src="assets/logo.png" alt="logo image">
		</a>
		<a (click)="logout()" class="logout_button z-depth-2 button_secondary waves-effect waves-light">Logout</a>
	</div>
</header>
<section class="welcome_section">
	<div class="container">
		<h3 class="page_title">Welcome to Time-Doctor Application</h3>
		<div class="time_control_box z-depth-2">
			<h2>{{hours | numpad:2}}:{{minutes | numpad:2}}:{{seconds | numpad:2}}</h2>
			<div class="row">
				<div class="col offset-s2 s4">
					<a  class=" timer_button z-depth-2 button_primary waves-effect waves-light" (click)="start();checkStatus('online')" id="start">start</a>
				</div>
				<div class="col s4">
					<a class="timer_button z-depth-2 button_primary waves-effect waves-light" (click)="stop();;checkStatus('offline')" id="stop">stop</a>
				</div>

				<!-- Button for syncing data -->
				<div class="col s4">
					<a class="timer_button z-depth-2 button_primary waves-effect waves-light" (click)="updateData()" >SyncData</a>
				</div>


				<div>
					<!-- <p *ngFor="let doc of documents">{{doc}}</p> -->
					<!-- <p >{{documents}}</p> -->
				</div>


			</div>
		</div>
	</div>
</section>
<div class="container align-content-center">
	<div class="row justify-content-center">
	</div>
	<div class="row justify-content-around">
	</div>
</div>