<header>
	<div class="header_content">
		<a class="logo_box">
			<img src="assets/images/favicon.png" alt="logo image">
		</a>
		<a (click)="logout()" class="logout_button z-depth-2 button_secondary waves-effect waves-light">Logout</a>
	</div>
</header>
<section class="welcome_section">
	<p id="version">{{version}}</p>
	<div class="container">
		<h3 class="page_title">Welcome to Rao-Doctor Application 
		</h3>
		<div class="time_control_box z-depth-2">
			<h2 ng-model="">{{hours | numpad:2}}:{{minutes | numpad:2}}:{{seconds | numpad:2}}</h2>
			<!-- <div class="h2size">
				<span ng-model="hours">{{hours | numpad:2}} : </span><span ng-model="minutes">{{minutes | numpad:2}}</span><span ng-model="seconds"> : {{seconds | numpad:2}}</span>
			</div> -->
			<div class="row">
				<div class="col offset-s2 s4">
					<a  class=" timer_button z-depth-2 button_primary waves-effect waves-light" (click)="start();checkStatus('online')" id="start">start</a>
				</div>
				<div class="col s4">
					<a class="timer_button z-depth-2 button_primary waves-effect waves-light" (click)="stop();checkStatus('offline')" id="stop">stop</a>
				</div>

				<!-- Button for syncing data -->
				


				<div>
					<!-- <p *ngFor="let doc of documents">{{doc}}</p> -->
					<!-- <p >{{documents}}</p> -->
				</div>


			</div>
		</div>
	</div>
</section>
<div class="container align-content-center">
	<div class="row justify-content-center">
	</div>
	<div class="row justify-content-around">
	</div>
</div>
<div *ngIf="loading">
	<div class="loading-wrapper">
		<div class="loader"></div>
	</div>
</div>
<div *ngIf="seconds!=0 && !diff">
	<div class="loader-wrapper">
		<div class="loader"></div>
	</div>
</div>
<div id="notification" *ngIf="!openModal">
	<p id="message">A new update is available</p>
	<button id="close-button" (click)="cancel()">
	  Close
	</button>&nbsp;
	<button id="restart-button" (click)="restartApp()">
	  Restart
	</button>
</div>

<script>
	// const version = document.getElementById('version');
    
    // ipcRenderer.send('app_version');
    // ipcRenderer.on('app_version', (event, arg) => {
    //   ipcRenderer.removeAllListeners('app_version');
    //   version.innerText = 'Version ' + arg.version;
    // });


    // ipcRenderer.on('update_available', () => {
    //   ipcRenderer.removeAllListeners('update_available');
    //   message.innerText = 'A new update is available. Downloading now...';
    //   notification.classList.remove('hidden');
    // });
    // ipcRenderer.on('update_downloaded', () => {
    //   ipcRenderer.removeAllListeners('update_downloaded');
    //   message.innerText = 'Update Downloaded. It will be installed on restart. Restart now?';
    //   restartButton.classList.remove('hidden');
    //   notification.classList.remove('hidden');
    // });
	// function closeNotification() {
	// 	notification.classList.add('hidden');
	// }
	// function restartApp() {
	// 	ipcRenderer.send('restart_app');
	// }
</script>