.header_content {
  background: rgba(204, 211, 253, 1);
  background: -moz-linear-gradient(left, rgba(204, 211, 253, 1) 0%, rgba(162, 142, 222, 1) 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(204, 211, 253, 1)),
    color-stop(100%, rgba(162, 142, 222, 1))
  );
  background: -webkit-linear-gradient(left, rgba(204, 211, 253, 1) 0%, rgba(162, 142, 222, 1) 100%);
  background: -o-linear-gradient(left, rgba(204, 211, 253, 1) 0%, rgba(162, 142, 222, 1) 100%);
  background: -ms-linear-gradient(left, rgba(204, 211, 253, 1) 0%, rgba(162, 142, 222, 1) 100%);
  background: linear-gradient(to right, rgba(204, 211, 253, 1) 0%, rgba(162, 142, 222, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd3fd', endColorstr='#a28ede', GradientType=1 );
  display: table;
  width: 100%;
  padding: 20px;
}
.header_content a.logo_box {
  display: inline-block;
  float: left;
}
.header_content a.logo_box img {
  max-height: 50px;
  float: left;
}
.header_content a.logout_button {
  float: right;
  padding: 10px 20px;
  margin: 4px 0px 4px 20px;
}
.welcome_section {
  background-image: url(../../assets/images/web_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 90px);
  padding: 70px 0px;
  background-attachment: fixed;
}
.time_control_box {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  padding: 50px 15px;
  margin: 50px auto 0px;
  border-radius: 15px;
  text-align: center;
}
.timer_button{
  padding: 10px 20px;
  margin-top: 50px;
  width: 100%;
  text-transform: capitalize;
}


.disable {
  background-color: #85a5b5 !important;
  pointer-events: none !important;
}
.h2size > span{
  display: inline;
  font-size: 2.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(221, 221, 221, 0.7);
}
.absCenter {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.loader {
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  align-items: center;
}

.loader::before {
  content: "Please Wait";
  font-family: "Carter One", cursive;
}

.loader::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  font-family: "Carter One", cursive;
  -webkit-animation: ellipsis steps(4,end) 1s infinite;
  animation: ellipsis steps(4,end) 1s infinite;
  content: "...";
  width: 0;
  margin-right: 26px;
}

@keyframes ellipsis {
  to {
    width: 26px; 
    margin-right: 0;
  }
}